.sidebar {
  height: 100vh;
  max-height: 100vh;
  min-height: 100vh;
  overflow: hidden;
  background-color: #FFF;
  width: 320px;
}
.searchBar {
  padding: 0.5em;
}

.userList {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  height: calc(100vh - (32px + 1em));
}